{% extends "layout.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<main>
  <h1>As 15 melhores equipas do mundo</h1>
  <div class="equipas">
    {% for equipa in equipas %}
    <div class="equipa">
      <img src="../static/img/{{ equipa[2] }}" />
      <div class="numeros">
        <span>Nome: {{ equipa[1] | title }}</span>
        <span
          >Orçamento: {{ equipa[4] }} Milhões <i class="bi bi-currency-euro"></i
        ></span>
        <span>Títulos: {{ equipa[3] }} <i class="bi bi-trophy-fill"></i></span>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
