{% extends 'layout.html' %}

{% block title %} Ordenadas {% endblock title %}

{% block content %}
<section class="main-ordenar">
  <h1>As 15 melhores equipas do mundo</h1>
  <table class="content-table">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Orçamento</th>
        <th>Títulos</th>
      </tr>
    </thead>
    <tbody>
      {% for equipa in lista_ordenada %}
      <tr>
        <td><img src="../static/img/{{ equipa[2] }}" width="25px" /></td>
        <td>{{ equipa[1] | title }}</td>
        <td>{{ equipa[4] }} Milhões <i class="bi bi-currency-euro"></i></td>
        <td>{{ equipa[3] }} <i class="bi bi-trophy-fill"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
