<header>
  <nav>
    <div class="logo">
      <a href="/">AED</a>
    </div>
    <ul>
      <li>
        <a href="/"><i class="bi bi-house-check-fill"></i> Home</a>
      </li>
      <li>
        <a href="/sobre"><i class="bi bi-archive"></i>Sobre</a>
      </li>
      <li id="exibir-menu">
        <a href="#"><i class="bi bi-list-task"></i>Ordenar</a>
        <ul class="sub-menu">
          <li>
            <a href="/ordenar/1"><i class="bi bi-archive"></i>A-Z</a>
          </li>
          <li>
            <a href="/ordenar/4"
              ><i class="bi bi-currency-euro"></i> Orçamento</a
            >
          </li>
          <li>
            <a href="/ordenar/3"
              ><i class="bi bi-trophy-fill"></i> Títulos</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
